#boxofficeMain {
    display: flex;

    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: 80vh;
}

li {
    list-style-type: none;
}


.sec, .divDit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec {
    width: 100%;
    flex-direction: column;
}

.divDit {
    width: 80%;
    height: 60px;
    background-color: aliceblue;
    flex-direction: row;

    border: 1px dotted gary;
}

input[type=date] {
    width: 40%;
    height: 30px;
}

.rank {
    width: 40%;
    height: 40%;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}

.movieNm {
    font-style: oblique;
    font-size: medium;
    font-weight: bold;
}

.movieNm:hover {
    background-color: blue;
}

.rank:hover {
    background-color: brown;
}