* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
  
header , main {
    width: 60%;
    margin-left: 20%;
    
    display: flex;
}
main {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 450px;
    border: 1px dotted gray;
}  
header {
    height: 80px;
    background-color: darkblue;
    color: white;
  
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
  

header img {
    height: 60px;
}

section {
    margin: 5px;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    border: none;
}

button:hover {
    background-color: red;
    font-weight: bold;
}