.secDice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.secDice > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px ;
}

.dice {
    padding: 10px;
}

.dice > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;

}